/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* Estilo base del botón */
.boton-degradado {
  background: linear-gradient(to top, #219B76, #0F413E);
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo al pasar el mouse por encima del botón */
.boton-degradado:hover {
  background: linear-gradient(to top, #0F413E, #219B76);
}
